@font-face {
    font-family: montserrat_bold;
    src: url("../fonts/montserrat_bold.ttf");
}
@font-face {
    font-family: montserrat_regular;
    src: url("../fonts/montserrat_regular.ttf");
}
@font-face {
    font-family: montserrat_thin;
    src: url("../fonts/montserrat_thin.ttf");
}

:root{
    --primary-light:#3B84F1;
    --primary:#5271ff;
    --primary-dark:#004aad;
    --danger:#ff385a;
    --text-color-dark:#000000B3;
    --warning:#ffc107;
    --success:#34cc36;
}


*{
    margin:0;
    padding:0;
    font-family: montserrat_regular; 
    z-index: 1;
}

body{
    overflow-x: hidden; 
    position: relative;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}


h3{
    color: var(--text-color-dark);;
}
h4{
    color: var(--text-color-dark);
}
h5{
    color: var(--text-color-dark);
}

a{
    text-decoration: none;
    color:black;
}

a:hover{
    cursor: pointer;
}


a>button:hover{
